POSTGRES_DB=your_database
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

RABBITMQ_USER=your_username
RABBITMQ_PASSWORD=your_password

PORT=3000
NODE_ENV=development
DB_URL=postgresql://your_username:your_password@localhost:5432/your_database
RABBITMQ_URL=amqp://your_username:your_password@localhost:5672
